<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farmconnect">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <application
        android:allowBackup="true"
        android:label="FarmConnect"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.FarmConnect">

        <activity android:name=".activities.WeatherActivity"/>
        <activity android:name=".activities.DiseaseActivity"/>
        <activity android:name=".community.CommunityActivity"/>
        <activity android:name=".community.CommentActivity"/>
        <activity android:name=".activities.SchemesActivity"/>
        <activity android:name=".activities.SchemeDetailActivity"/>
        <activity android:name=".marketplace.MarketplaceActivity"/>
        <activity android:name=".marketplace.SellCropActivity"/>
        <activity android:name=".marketplace.BuyCropActivity"/>
        <activity android:name=".marketplace.PaymentActivity"/>
        <activity android:name=".marketplace.MyOrdersActivity"/>

            <activity android:name=".activities.ProfileActivity"/>
            <activity android:name=".activities.LanguageSelectionActivity" />


        <!-- Main Dashboard -->
        <activity
            android:name=".activities.MainActivity"
            android:exported="false"/>

        <!-- Login -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"/>

        <!-- Register -->
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"/>

        <!-- Splash (Launcher) -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>